$color_blue: #4d2600
*
  font-family: 微軟正黑體
  /*border: solid 2px #777*/
body
  height: 1000px
h1, h2, h3, h4, h5, h6
  font-weight: 900
header.jumbotron
  margin-bottom: 0px
  text-align: center
  background-image: url(1366x768.jpg)
  background-size: cover
  background-attachment: fixed
  .container
    color: white
    padding: 100px 0px
  hr
    max-width: 300px
    border: solid 2px $color_blue
  h4,h1
    color: rgba(white, 0.8)
section
  padding: 50px 0px
section#section_ask
  background-color: rgba(255, 166, 77,1)
  .col-sm-5.img
    background-image: url(13d1427.jpg)
    height: 350px
    background-size: cover
    //mix-blend-mode: multiply
  h2
    margin-top: 130px
    color: $color_blue
    padding: 0px 20px
section#section_about
  background-color: $color_blue
  h3
    color: rgba(255, 166, 77,1)
  img
    width: 100%
  .img_wrap
    height: 150px
    overflow: hidden
  p
    color: white
section#section_video
  background-color: white
  background-image: url(http://hbimg.b0.upaiyun.com/118905ec2e41c5e37e7f0d3c56b29f9f2f151c9c317839-8HrHw9_fw658)
  background-size: 100%
  background-attachment: fixed
  h1
    color: $color_blue
  
section#section_other
  background-color: rgba(255, 166, 77,1)
  h1,h3
    color: $color_blue
  img
    width: 100%
  .img_wrap
    height: 100px
    overflow: hidden