header.jumbotron
  .container
    h1 氪金救不了陰陽師
    hr
    h 錢不改非，氪不改命，唯有肝
section#section_ask
  .container
    .row
      .col-sm-5.img
      .col-sm-7
        h2 何謂陰陽師
section#section_about
  .container
    .row
      .col-sm-4
        .img_wrap
          img(src="https://goo.gl/TbzUjG", alt="陰陽師官方壁紙——『白藏主』")
        h3 陰陽師手遊
        p &emsp;&emsp;網易2016自研精品，唯美空靈的和風寫意，年度和風奇幻RPG，唯美寫意匠心之作！經典的半即時回合制RPG，卡牌收集、養成，基於LBS地理技術的社交PK，上百種式神亟待覺醒......（轉自官網）<br>&emsp;&emsp;是一款讓玩家們又愛又恨的遊戲<br>∠( ᐛ 」∠)＿<br>&emsp;&emsp;每次想要棄坑都捨不得寮里的崽，最近遊戲感覺快要涼了，好多朋友都棄坑了∠( ᐛ 」∠)＿
      .col-sm-4
        .img_wrap
          img(src="https://goo.gl/2HfpuE", alt="網易遊戲")
        h3 網易爸爸
        p &emsp;&emsp;陰陽師手遊的製作公司，<s>很有錢</s>，聽說抽卡只要大喊網易爸爸，保證十連R（透過不完全統計）。<br>&emsp;&emsp;網易一家中國大陸的網際網路技術公司。目前提供網路遊戲、入口網站、移動新聞用戶端、移動財經用戶端、電子郵件、電子商務、搜尋引擎、部落格、相簿、社交平台、網際網路教育等服務。網易公司在2016年12月30日的市值為287億美元，收入中大約70%來自於網路遊戲。（轉自維基百科）
      .col-sm-4
        .img_wrap
          img(src="https://goo.gl/yxPXJy", alt="鬼切")
        h3 陰陽師&式神
        p &emsp;&emsp;本作主角，安倍晴明為平安京的陰陽師，每天都為了<s>肝御魂</s>守護平安京而努力著。<br>&emsp;&emsp;式神，與陰陽師締結契約的妖異鬼怪<br>&emsp;&emsp;一般來說新式神都會讓大家趨之若鶩，最近（2019/1）的新晉式神是八岐大蛇，但是目前的版本之子——鬼切熱度還沒消退，到底誰才是平安京最受歡迎的式神呢？敬請期待這一期的為崽而戰∠( ᐛ 」∠)＿<br>&emsp;&emsp;順帶一提，我對日蛇不感興趣，只想操刀∠( ᐛ 」∠)＿